/* ==================================================
   Font Face
================================================== */
@font-face {
    font-family: 'gotham_blackregular';
    src: url('fonts/gotham/gothamblack-webfont.eot');
    src: url('fonts/gotham/gothamblack-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/gotham/gothamblack-webfont.woff') format('woff'),
         url('fonts/gotham/gothamblack-webfont.ttf') format('truetype'),
         url('fonts/gotham/gothamblack-webfont.svg#gotham_blackregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'gotham_boldregular';
    src: url('fonts/gotham/gothambold-webfont.eot');
    src: url('fonts/gotham/gothambold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/gotham/gothambold-webfont.woff') format('woff'),
         url('fonts/gotham/gothambold-webfont.ttf') format('truetype'),
         url('fonts/gotham/gothambold-webfont.svg#gotham_boldregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'gotham_bookregular';
    src: url('fonts/gotham/fonts/gothambook-webfont.eot');
    src: url('fonts/gotham/gothambook-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/gotham/gothambook-webfont.woff') format('woff'),
         url('fonts/gotham/gothambook-webfont.ttf') format('truetype'),
         url('fonts/gotham/gothambook-webfont.svg#gotham_bookregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'gotham_mediumregular';
    src: url('fonts/gotham/gothammedium-webfont.eot');
    src: url('fonts/gotham/gothammedium-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/gotham/gothammedium-webfont.woff') format('woff'),
         url('fonts/gotham/gothammedium-webfont.ttf') format('truetype'),
         url('fonts/gotham/gothammedium-webfont.svg#gotham_mediumregular') format('svg');
    font-weight: normal;
    font-style: normal;

}



/* ==================================================
   Fonts
================================================== */
.showcase .caption .more-button {
	font-family: 'gotham_blackregular';
}
.header-right .login-button, .featured li .read-more, .blue-box .start-button {
	font-family: 'gotham_boldregular';
}
.topbar .phone, .showcase .caption, .blue-box p, .footer li {
	font-family: 'gotham_bookregular';
}
.topbar li, #primary-nav li, .featured li h3, .blue-box h3, .footer h5 {
    font-family: 'gotham_mediumregular';
	font-weight:normal;
}