/*
	Superfish SCSS
*/
.primary-nav {
	margin-top: 20px;
	@include breakpoint(ipad_p) { display:none;}
	@include breakpoint(iphone_p) { display:none;}
	ul { list-style:none; margin:0; padding:0;
		a { display: block; position: relative; }
		li { list-style:none; margin:0; padding:0; position:relative;
			&:hover { visibility: inherit; /* fixes IE7 'sticky bug' */ }
		}
		ul { position: absolute; top: -9999em; width:165px; /* left offset of submenus need to match (see below) */}
	}
}

/* Make sub menus appear */
.primary-nav ul li:hover ul,
.primary-nav ul li.sfHover ul { left:0; top:54px; /* match top ul list item height */ z-index:9999 !important; }

/* Hide all subs subs (4 levels deep) */
.primary-nav ul li:hover li ul,
.primary-nav ul li.sfHover li ul,
.primary-nav ul li li:hover li ul,
.primary-nav ul li li.sfHover li ul,
.primary-nav ul li li li:hover li ul,
.primary-nav ul li li li.sfHover li ul { top: -9999em; }

/* Displays all subs subs (4 levels deep) */
.primary-nav ul li li:hover ul,
.primary-nav ul li li.sfHover ul,
.primary-nav ul li li li:hover ul,
.primary-nav ul li li li.sfHover ul,
.primary-nav ul li li li li:hover ul,
.primary-nav ul li li li li.sfHover ul { left:248px; /* match .nav ul width */ top: 0;  }

/* Primary Navigation Skin  */
.primary-nav {
	&.left { padding-left:8px;}

	ul { width:100%; display:table;
		/* top level skin */
		li { margin-left:33px; text-transform:uppercase; display:table-cell; text-align:center;
			&:first-child { margin-left:0;}
			&.about { margin-left:270px;}
			
			a { color:$white; font-size:14px; padding:20px 10px;
				&:hover { color:$navyblue;}
			}
			&.current-menu-item a { background:$navyblue; color:$white;}
			&.current-menu-parent a,
			&.current-menu-ancestor a { background:$navyblue; color:$white;}

			/* 2nd level skin */
			&.sfHover { 
				ul { background:darken($secondary, 5%); width:250px; height:auto; z-index:9999; padding:0; display:block;
					li { float:none; height:auto; padding:0; line-height:20px; margin-left:0; display:block; text-align:left;
						a { padding:13px 10px 10px; display:block; color:#fff; text-transform:none; border-left:2px $navyblue solid; background:none; border-bottom:none;
							&:hover { color:$navyblue;}
						}

						&:first-child { padding-left:0;}

						&.current-menu-item { 
							&> a { color:$navyblue;}
						}
					}
				}
			}
		}
	}
}